ul{
    list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: center;
      gap: 20px;
      
}

nav{
    background-color: rgb(63, 37, 4);
}


a{
    color: #fff;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  align-items: stretch;
}

.cikk img {
  width: 100%;
  height: auto;
  display: grid;
}

.cikk div {
  order: -1; 
}

.cikk {
  background-color: #f2f2f2;
  padding: 15px;
  border: 1px solid #ccc;

    display: grid;
    grid-template-rows: auto 1fr auto; 
}